---
interface Props {
  category?: string;
  categoryId?: string;
}
const { category, categoryId } = Astro.props;
---

<astro-giscus data-category={category} data-category-id={categoryId}>
  <div class="giscus mx-auto px-6 sm:px-6 max-w-3xl pt-8 md:pt-4 pb-12 md:pb-20"></div>
</astro-giscus>

<script>
  function getCurrentTheme() {
    let currentTheme: string | null = localStorage.getItem('theme');
    if (!currentTheme) {
      const matchMedia = window.matchMedia('(prefers-color-scheme: dark)');
      currentTheme = matchMedia.matches ? 'dark' : 'light';
    }
    return currentTheme;
  }
  class AstroGiscus extends HTMLElement {
    constructor() {
      super();
      this.initializeGiscus();
    }

    initializeGiscus() {
      document.addEventListener('DOMContentLoaded', () => {
        this.setupThemeToggle();
        this.loadGiscusScript();
      });
    }

    setupThemeToggle() {
      const toggle = document.querySelector('label[for="theme-switcher"]');
      if (toggle) {
        // 监听自己的主题切换按钮点击事件
        toggle.addEventListener('click', this.handleThemeToggle);
      }
    }

    handleThemeToggle() {
      const currentTheme = getCurrentTheme();
      const newTheme = currentTheme === 'light' ? 'dark' : 'light';
      AstroGiscus.setGiscusTheme(newTheme);
    }

    static setGiscusTheme(theme) {
      const iframe = document.querySelector('iframe.giscus-frame');
      if (!iframe) return;
      iframe.contentWindow.postMessage({ giscus: { setConfig: { theme } } }, 'https://giscus.app');
    }
    loadGiscusScript() {
      const theme = getCurrentTheme();
      const category = this.dataset.category || 'Blog';
      const categoryId = this.dataset.categoryId || 'DIC_kwDOK1aVGs4CgMLo';
      const script = document.createElement('script');
      script.src = 'https://giscus.app/client.js';
      script.setAttribute('data-repo', 'dacong-wu/astro-blog');
      script.setAttribute('data-repo-id', 'R_kgDOK1aVGg');
      script.setAttribute('data-category', category);
      script.setAttribute('data-category-id', categoryId);
      script.setAttribute('data-mapping', 'pathname');
      script.setAttribute('data-strict', '0');
      script.setAttribute('data-reactions-enabled', '1');
      script.setAttribute('data-emit-metadata', '0');
      script.setAttribute('data-input-position', 'bottom');
      script.setAttribute('data-theme', theme);
      script.setAttribute('data-lang', 'zh-CN');
      script.setAttribute('crossorigin', 'anonymous');
      script.async = true;

      document.head.appendChild(script);
    }
  }

  customElements.define('astro-giscus', AstroGiscus);
</script>
