---
import { Icon } from 'astro-icon/components';
---

<div class="inline-flex mr-3.5">
  <button
    class="border-border text-dark hover:text-primary dark:border-darkmode-border inline-block border-r pr-3.5 text-xl dark:text-white dark:hover:text-darkmode-primary"
    aria-label="search"
    data-search-trigger
  >
    <Icon name="tabler:search" />
  </button>
</div>
