---
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: '~/assets/images/NuMicro-MA35-Series.jpg',
      alt: 'NuMicro-MA35-Series',
    }}
    autoHeight={true}
    content="MA35D1 系列提供 LQFP 和 BGA 两种封装以满足各类应用。"
  >
    <Fragment slot="title">
      MA35<br />
      <span class="text-accent dark:text-white highlight">高效能边缘工业物联网系列</span>
    </Fragment>

    <Fragment slot="subtitle">
      NuMicro® MA35D1系列为一颗异核同构的多核心微处理器，适用于高端 Edge IIoT Gateway。它是基于双核 64 位 Arm®
      Cortex-A35 内核，执行速度可达 800 MHz，并搭载一颗 180 MHz Arm Cortex-M4 内核。基于此高性能内核，MA35D1 系列有助于
      Tiny AI/ML 边缘运算。
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="产品简介"
    items={[
      {
        title: '目标应用',
        icon:'tabler:apps',
        description: `- 边缘网关<br>
        - 轻量级人工智能 / 机器学习<br>
        - 人机介面 & 工业控制<br>
        - 新能源应用`,
      },
      {
        title: '生态系统',
        icon:'tabler:seeding',
        description: `- 	NuMicro® MA35D1 平台是一个简单易用的 Ecosystem，具有完整的软硬件开发工具，可缩短客户在嵌入式 Linux 系统的开发时间<br>
        - 于图形库，MA35D1 可支援 emWin、Qt 及 LVGL，让使用者可以创造令人惊叹的图形使用者介面 (GUI)`,
      },
      {
        title: '开发板',
        icon:'tabler:cpu',
        description: `- NuMaker-HMI-MA35D1-S1<br>
        - NuMaker-IoT-MA35D1-A1`,
      },
      {
        title: '封装',
        icon: 'tabler:package',
        description: `- LQFP216 (24 x 24 x 1.4 mm, Pitch 0.4 mm)<br>
        - BGA312 (15 x 15 x 1.4 mm, Pitch 0.8 mm)<br>
        - BGA364 (14 x 14 x 1.4 mm, Pitch 0.65 mm)`,
      },
      {
        title: '操作温度',
        icon: 'tabler:temperature-celsius',
        description: '-40°C ~ +105°C (工业等级)',
      },
    ]}
  >
    <Fragment slot="subtitle">
      <div class="flex gap-y-3 flex-col">
        <p>
          MA35D1系列芯片汇聚了多项先进特性，包括内建128 KB IBR（Internal Boot
          ROM）和支持多种模式的安全启动。支持16位DDR2/DDR3和DDR3L SDRAM，并提供了LQFP和BGA两种封装，最大容量达512
          MB，有助于降低PCB层数、面积和电磁干扰。
        </p>
        <p>
          作为可信任的系统，MA35D1系列满足物联网产品的安全需求，具备TSI、TrustZone、安全启动、篡改检测等多项安全机制，符合IEC
          62443认证标准。
        </p>
        <p>
          面向高端Edge IIoT
          Gateway需求，MA35D1集成PDMA，直接访问系统内存，提升性能。多组通讯接口如千兆以太网、SDIO3.0、高速USB 2.0、CAN
          FD等，适用于高端Edge Gateway及新能源等应用需求。
        </p>
        <p>
          在人机接口方面，MA35D1提供LCD显示控制器，支持分辨率达1920 x
          1080每秒60帧，带有2D图形加速器、JPEG和H.264译码器，为用户带来卓越的图形人机接口效果和视频播放体验。
        </p>
      </div>
    </Fragment>
  </Steps2>
</Layout>
