---
import { Icon } from 'astro-icon/components';
---

<div class="relative">
  <pre
    class="shadow-2xl dark selection:bg-gray-500/60 code"><button aria-label="copy-button" class="copy-button absolute z-20 top-2 right-2 rounded-md transition-all ease-in max-w-full max-h-fit hover:text-indigo-400"><Icon name="tabler:copy" /></button><span class="check-span absolute z-10 top-2 right-2 rounded-md transition-all ease-in opacity-0 text-green-300 max-w-full max-h-fit"><Icon name="tabler:check" /></span><slot /></pre>
</div>
<script>
  const coppyBlock = () => {
    const proBlock = document.querySelectorAll('pre');
    proBlock.forEach((pre) => {
      const button = pre.querySelector('.copy-button');
      const check = pre.querySelector('.check-span');
      const code = pre.querySelector('code');
      if (code) {
        code.classList.add('block', 'w-full', 'overflow-y-auto');
        const lineSpans = code?.querySelectorAll('span.line');
        if (lineSpans) {
          const spanLength = String(lineSpans.length).length;
          const widthMultiplier = 0.8 * spanLength;
          lineSpans.forEach((span, index) => {
            const spanElement = span as HTMLElement;
            const spanWidth = span.getBoundingClientRect().width;
            if (spanWidth > 0 || index < lineSpans.length - 1) {
              spanElement.style.setProperty('--aw-code-span-before-w', `${widthMultiplier}rem`);
              spanElement.style.setProperty('--aw-code-span-ml', `${widthMultiplier + 0.1}rem`);
              spanElement.setAttribute('data-index', `${index + 1}`);
            }
          });
        }
      }

      button!.addEventListener('click', () => {
        navigator.clipboard.writeText(pre.textContent?.trim() || '');
        check?.classList.remove('opacity-0');
        button?.classList.add('opacity-0');
      });
    });
  };
  coppyBlock(); // initial load
  document.addEventListener('astro:after-swap', coppyBlock); // re-run after each page change
</script>
