---
import Item from '~/components/photography/ListItem.astro';
import type { Photography } from '~/types';

export interface Props {
  photographys: Array<Photography>;
}

const { photographys } = Astro.props;
---

<ul>
  {
    photographys.map((photography) => (
      <li class="mb-12 md:mb-20 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
        <Item photography={photography} />
      </li>
    ))
  }
</ul>
